#map {
    width: 100%;
    height: 400px;
  }
  
  #controls {
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  #body {
    background-image: url('lejupielÄde.jpg');
    background-size: cover;
  }
  